.primary-btn {
  background-color: #e74646;
  color: white;
  height: 50px;
  width: 330px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
