<h1>メモ作成画面</h1>
<%= form_with model: @memo, url: users_memos_path(@memo), local: true do |f| %>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit "登録する" %>
<% end %>
