<h1>Admins::Dashboard#index</h1>
<p>Find me in app/views/admins/dashboard/index.html.erb</p>

<%= link_to "ログアウト", destroy_admin_session_path, data: { turbo_method: :delete }, class: 'logout-link' %>

<% @users.each do |user| %>
  <div>
    <%= user.id %>
    <%= user.email %>
    <%= user.created_at %>
  </div>
<% end %>
