<h1>グループ作成画面</h1>
<%= form_with model: @group, url: users_groups_path(@group), local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "登録する" %>
<% end %>
