.primary-btn {
  background-color: #e74646;
  color: white;
  height: 35px;
  width: 150px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
