@use '../../setting';

body {
  background-color: setting.$base-color;
}

.forgot-password-container {
  display: flex;
  justify-content: center;
}

.forgot-password-card {
  background-color: white;
  margin-top: 70px;
  min-width: 370px;
  padding: 30px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 140px;
  margin-bottom: 40px;
}

.forgot-password-form {
  width: 300px;
}

.forgot-password-btn {
  height: 50px;
  width: 100%;
  font-size: 1.6rem;
}

.login-link {
  color: setting.$accent-color;
  text-decoration: none;
  font-weight: bold;
  margin-top: 18px;

  &:hover {
    opacity: 0.5;
  }
}
