@use '../../setting';

.sub-header {
  height: 40px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e2e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.container {
  display: flex;
}

.content {
  height: calc(100vh - 123px);
  width: 35%;
  min-width: 350px;

  &.main {
    padding: 0;
  }

  &:not(:last-child) {
    border-right: 1px solid #e2e0e0;
    max-width: 400px;
  }

  &:last-child {
    width: -webkit-fill-available;
  }
}

.person-detail {
  padding: 20px;

  .person-detail-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .person-img {
      width: 100px;
      border-radius: 50px;
      margin-right: 10px;
    }

    .person-summary {
      .person-furigana {
        font-size: 1.2rem;
      }

      .person-name {
        font-weight: bold;
        font-size: 2rem;
      }

      .person-group {
        border-radius: 14px;
        background-color: setting.$accent-color;;
        font-size: 1.4rem;
        padding: 3px 16px;
        color: white;
        width: fit-content;
      }
    }
  }

  .person-detail-row {
    justify-content: space-between;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #fa9884;
    cursor: pointer;
    word-break: break-all;

    &:hover {
      background-color: #fa98847d;
    }

    .person-detail-title {
      font-weight: bold;
      margin-right: 10px;
      white-space: nowrap;
    }
  }
}

.person-row {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;

  &:hover {
    background-color: #e2e2e2;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #e2e0e0;
  }

  &.active {
    background-color: #e2e2e2;
    border-right: 8px solid setting.$accent-color;;
  }

  .person-img {
    border-radius: 30px;
    width: 60px;
    margin-right: 20px;
  }

  .person-summary {
    width: 100%;

    .person-furigana {
      font-size: 1.2rem;
    }

    .person-name {
      font-weight: bold;
      font-size: 2rem;
    }

    .person-group {
      border-radius: 14px;
      background-color: setting.$accent-color;;
      font-size: 1.4rem;
      padding: 3px 16px;
      color: white;
      width: fit-content;
    }
  }
}

.memo-row {
  padding: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #e2e0e0;
  }

  .memo-date {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .memo-content {
    margin-bottom: 10px;
  }

  .memo-tag {
    border-radius: 14px;
    background-color: #e7af46;
    font-size: 1.4rem;
    padding: 3px 16px;
    color: white;
    width: fit-content;
  }
}
